@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
	background-color: #FFFFFF;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

#api_status {
	float: right;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	background-color: #CCCCCC;
	margin-right: 30px;
	margin-top: 15px;
}

#api_status.available {
	background-color: #FF545F;
}
